img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 30px;
    font-style: bold;
    background: url(https://i.pinimg.com/originals/4a/8f/4a/4a8f4a860ae7f45d29cde2de0b464898.jpg);
    background-size: auto;
    color: black;
}